.projects {
  padding: 80px 0;
  background-color: #F9FAFF;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 992px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .projects {
    padding: 60px 0;
  }
  
  .projects-list {
    gap: 60px;
  }
}
